.container {
  font-family: 'Montserrat', sans-serif; }

header {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.logo h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 16px; }

nav {
  cursor: pointer; }
  nav .list {
    margin: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    right: -20%;
    top: 0%;
    display: none;
    transition: 0.3s ease-in; }
    nav .list i {
      padding-top: 20px;
      color: steelblue; }
    nav .list li {
      list-style: none;
      margin: 30px 20px; }
    nav .list a {
      text-decoration: none;
      padding: 10px 20px;
      color: steelblue;
      font-weight: 300;
      transition: 0.2s ease-in-out; }
    nav .list a:hover {
      color: white;
      background-color: black; }

.intro {
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.introContainer {
  width: 70%;
  display: Flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .introContainer h2 {
    color: white; }

.introContent {
  width: 400px; }
  .introContent p {
    margin: 10px;
    font-size: 14px;
    line-height: 25px;
    color: white;
    font-family: 'Roboto', sans-serif; }

.introIamge img {
  width: 100%;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); }

section {
  margin-top: 130px;
  text-align: center; }

article {
  width: 700px;
  margin: auto; }
  article p {
    text-align: justify;
    line-height: 25px;
    font-family: 'Roboto', sans-serif; }
  article img {
    width: 400px;
    margin-top: 25px; }

.contact {
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff, #3a7bd5); }

form {
  padding-top: 50px;
  padding-bottom: 50px; }

form h3 {
  color: white; }

input[type=text] {
  padding: 5px 10px;
  width: 300px;
  margin-top: 5px; }

input[type=submit] {
  margin-top: 5px;
  padding: 9px;
  width: 100px;
  height: 30px;
  background-color: black;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer; }

input[type=text]:focus {
  -webkit-box-shadow: 0px 2px 18px 0px #5f6666;
  -moz-box-shadow: 0px 2px 18px 0px #5f6666;
  box-shadow: 0px 2px 18px 0px #5f6666; }

.socialIcon {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto; }

.socialIcon i {
  font-size: 30px; }

@media (max-width: 1000px) {
  .introContainer {
    display: Flex;
    flex-direction: column; }

  .introContent {
    width: 400px; }
    .introContent p {
      text-align: justify;
      margin: 20px;
      font-size: 14px;
      line-height: 25px;
      color: white;
      font-family: 'Roboto', sans-serif; }

  .introIamge img {
    width: 100%;
    -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); }

  article p {
    text-align: justify;
    line-height: 25px;
    font-family: 'Roboto', sans-serif; }
  article img {
    width: 300px;
    margin-top: 25px; } }
@media (max-width: 550px) {
  .introContainer {
    display: Flex;
    flex-direction: column; }

  .introContent p {
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    color: white;
    font-family: 'Roboto', sans-serif; }

  .introImage img {
    width: 100%; }

  article {
    width: 250px; }
    article p {
      line-height: 25px;
      font-family: 'Roboto', sans-serif; }
    article img {
      width: 200px;
      margin-top: 25px; }

  .list {
    padding: 0px 30px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    background-color: red;
    right: -40%;
    display: none; }
    .list li {
      margin: 20px 5px; }
    .list i {
      padding-top: 20px; }

  .introContent {
    width: 300px; }
    .introContent p {
      margin: 10px;
      font-size: 14px;
      line-height: 25px;
      color: white;
      font-family: 'Roboto', sans-serif; } }

/*# sourceMappingURL=style.css.map */
